<h2>About me</h2>

<p class="description">I obtained my PhD in CSE from the University of Padua, where I studied nonverbal communication in online discussions.
  My postdoctoral experience includes appointments at Virginia Tech and
  at the GESIS—Leibniz Institute for the Social Sciences, where I am currently transitioning to the
  position of Team Leader for Data Science within the Computational Social Science Department.</p>
<p class="description">  I am
  a sociotechnician with a research focus on the intersection of online governance and societal
  outcomes. Broadly, I strive to make computer-mediated social lives richer, healthier, and more dignified.
<p class="description">My research proceeds in two converging directions. On the one hand, I develop models to identify
  and characterize fringe behaviors that threaten collective wellbeing. The
  second, complementary focus of my research is on the practices around regulating such fringe
  behavior. Thus, my past work was built towards understanding and managing differences in norms in
  a multi-community setting, expanding peer moderation practices beyond sanctioning and censoring,
  and developing computational models to mitigate the underprovision of human moderators. I find
  this dual outlook helpful for developing a critical framework of how online platforms and cultures
  create unique affordances for toxicity and misinformation. </p>
