
<p class="description">  I am a researcher of sociotechnical systems with a focus on online governance. I work
  towards making computer-mediated social lives richer, healthier, and more dignified.
<p class="description">
  I am an Assistant Professor at the Computer Science department of the Sapienza University of Rome since August 2022.
  My postdoctoral experience includes appointments at Virginia Tech and
  at the GESIS—Leibniz Institute for the Social Sciences, where I took on the role of Team Leader for Data Science Methods
  at the Computational Social Science Department.
  I received my PhD in CSE from the University of Padua, where I studied how nonverbal communication
  shapes online discussions.
</p>
<p class="description">I develop models to identify and characterize fringe behaviors that threaten collective well-being,
  such as trolling, sexism, and conspiracy theories. I also study the practices around regulating fringe
  behavior, such as managing differences in norms across communities, expanding peer moderation practices beyond
  sanctioning, and developing computational models to support moderators. This dual outlook on fringe behavior and
  its regulation helped me develop a critical framework for how online
  platforms and cultures create unique affordances for toxicity and misinformation. </p>
